
.Pomodoro {

  display: flex;
  flex-direction: column;
  justify-content: center;

  text-align: center;
  background: white;
  color: #333;

  padding: 60px;
  height:500px;
  box-shadow: 0 10px 10px #8A837F;
}
