.PomomakiTimer {
  text-align: center;
  background: white;
  color: #333;
  margin:55px;
  padding:100px;
  /*height:600px;
  width: 900px;
  margin: 55px;
  padding: 40px;*/
  box-shadow: 0 0 20px #8A837F;
}
